<h2>home works!</h2>
<p>This is the counter: {{counter$ | async}}</p>
<p><button class="btn" (click)="getCore()">get core</button></p>
<div>
    <input type="number" [ngModel]="a()" (ngModelChange)="a.set($event)"> /
    <input type="number" [ngModel]="b()" (ngModelChange)="b.set($event)">
</div>
<div>
    <span>
        val : {{ res() }}
    </span>
</div>
<hr>
<div>
    <input type="text" ngModel #textField>
    <button class="btn" [disabled]="textField.value == ''" (click)="setCore(textField.value)">set core</button>
</div>
